################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Wolf3D/obj/Debug
/Wolf3D/bin/Debug
